main {
}

.maze-grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.maze-button {
  background-color: #6363fd;
  margin: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 25px 0px;
}

.maze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
}

.cell.wall {
  background-color: black;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}

.cell.path {
  background-color: white;
}

.cell.visited {
  background-color: #9e9ef5;
}